<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.system.dao.accountX.AccountPaymentDao">

    <resultMap id="AllPaymentList" type="org.system.domain.accountX.AccountXPayment">
        <!--column是只从数据库查到的字段名称-->
        <!--property是只Student类的属性-->
        <!--一般情况下, 这种map的目的在于隐藏数据库中的不想对外显示的数据, 并且需要建立新的类去封装这些需要显示的数据-->
        <result column="id" property="id"/>
        <result column="bill_id" property="billId"/>
        <result column="from" property="from"/>
        <result column="to" property="to"/>
        <result column="money" property="money"/>
    </resultMap>

    <select id="getAllPayment" resultMap="AllPaymentList">
        select * from accountx_payment
    </select>

</mapper>