
#BillPop { width:733px; height:420px; position:absolute; left:40px; top:40px;   }
#result { width:733px; height:420px; position:absolute; left:40px; top:450px;   }
#billList { width:933px; height:420px; position:absolute; left:900px; top:40px;   }

.persons{width:300px;}