.add_bill { width:733px; height:420px; position:absolute; left:40px; top:40px;   }
.results { width:733px; height:420px; position:absolute; left:40px; top:450px;   }
.all_bills { width:933px; height:420px; position:absolute; left:900px; top:40px;   }

